@model CameraRentalApp.Models.Customer

@{
    ViewData["Title"] = "Create Customer";
}

@section Scripts {
    <script>
        @if (TempData["Message"] != null)
        {
            <text>
            Swal.fire({
                icon: 'success',
                title: 'Success',
                text: '@TempData["Message"]',
                confirmButtonText: 'OK'
            });
            </text>
        }

        @if (TempData["Error"] != null)
        {
            <text>
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: '@TempData["Error"]',
                confirmButtonText: 'OK'
            });
            </text>
        }
    </script>

<h5 class="mb-0">Create Customer</h5>
<br />

<div class="card">
    <div class="card-body">

        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="CustomerName" class="form-label">Name</label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Address" class="form-label">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Save
            </button>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </form>
    </div>
</div>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
