@model CameraRentalApp.Models.Camera

@{
    ViewData["Title"] = "Add Camera";
    var errorMessage = TempData["Error"] as string;
    var successMessage = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '@errorMessage',
        });
    </script>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '@successMessage',
        });
    </script>
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>@ViewData["Title"]</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Enter name" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                 
                    <div class="form-group">
                        <label asp-for="Brand" class="form-label">Brand</label>
                        <input asp-for="Brand" type="text" class="form-control" placeholder="Enter Brand" required />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Stock" class="form-label">Stock</label>
                        <input asp-for="Stock" type="number" class="form-control" placeholder="Enter Stock" required />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="RentalPricePerDay" class="form-label">Rental Price</label>
                        <input asp-for="RentalPricePerDay" type="number" class="form-control" placeholder="Enter Price" required />
                        <span asp-validation-for="RentalPricePerDay" class="text-danger"></span>
                    </div>

                      <div class="form-group">
                        <label for="imageFile" class="form-label">Upload Image</label>
                        <input type="file" name="imageFile" class="form-control" accept="image/*" required />
                        <span class="text-danger" asp-validation-for="Image"></span>
                    </div>

                    <div class="form-group">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-success">Save Changes</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
