@using CameraRentalApp.Models
@model CameraRentalApp.Models.Camera

@{
    ViewData["Title"] = "Edit Camera";
     var errorMessage = TempData["Error"] as string;
    var successMessage = TempData["Message"] as string;

}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '@errorMessage',
        });
    </script>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: '@successMessage',
        });
    </script>
}



<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="CameraId" />

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>@ViewData["Title"]</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="CameraCode" class="form-label">Product Code</label>
                        <input asp-for="CameraCode" type="text" class="form-control" placeholder="Enter name" required readonly />
                        <span asp-validation-for="CameraCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Enter name" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Brand" class="form-label">Brand</label>
                        <input asp-for="Brand" type="text" class="form-control" placeholder="Enter Brand" required />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Stock" class="form-label">Stock</label>
                        <input asp-for="Stock" type="number" class="form-control" placeholder="Enter Stock" required />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="RentalPricePerDay" class="form-label">Rental Price</label>
                        <input asp-for="RentalPricePerDay" type="number" step="0.01" class="form-control" placeholder="Enter Price" required />
                        <span asp-validation-for="RentalPricePerDay" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="imageFile" class="form-label">Image</label>
                        <input type="file" name="imageFile" class="form-control" />
    
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <div class="mt-2">
                                <img src="@Url.Content(Model.Image)" alt="Camera Image" style="max-width: 200px; max-height: 200px;" />
                            </div>
                        }
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>

                <div class="card-footer text-left">
                    <button type="submit" class="btn btn-success">Save Changes</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
